<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DataPubReg</servlet-name>
        <servlet-class>SACS.DataPubReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverReg</servlet-name>
        <servlet-class>SACS.ReceiverReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorityLog</servlet-name>
        <servlet-class>SACS.AuthorityLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DPActivate</servlet-name>
        <servlet-class>SACS.DPActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DPReject</servlet-name>
        <servlet-class>SACS.DPReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiversActivate</servlet-name>
        <servlet-class>SACS.ReceiversActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiversReject</servlet-name>
        <servlet-class>SACS.ReceiversReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DPLog</servlet-name>
        <servlet-class>SACS.DPLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiversLog</servlet-name>
        <servlet-class>SACS.ReceiversLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>SACS.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanitizerLog</servlet-name>
        <servlet-class>SACS.SanitizerLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sanitize</servlet-name>
        <servlet-class>SACS.Sanitize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReq</servlet-name>
        <servlet-class>SACS.SearchReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestApprove</servlet-name>
        <servlet-class>SACS.RequestApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestReject</servlet-name>
        <servlet-class>SACS.RequestReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>SACS.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSlog</servlet-name>
        <servlet-class>SACS.CSlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download1</servlet-name>
        <servlet-class>SACS.Download1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataPubReg</servlet-name>
        <url-pattern>/DataPubReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverReg</servlet-name>
        <url-pattern>/ReceiverReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorityLog</servlet-name>
        <url-pattern>/AuthorityLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DPActivate</servlet-name>
        <url-pattern>/DPActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DPReject</servlet-name>
        <url-pattern>/DPReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiversActivate</servlet-name>
        <url-pattern>/ReceiversActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiversReject</servlet-name>
        <url-pattern>/ReceiversReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DPLog</servlet-name>
        <url-pattern>/DPLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiversLog</servlet-name>
        <url-pattern>/ReceiversLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanitizerLog</servlet-name>
        <url-pattern>/SanitizerLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sanitize</servlet-name>
        <url-pattern>/Sanitize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReq</servlet-name>
        <url-pattern>/SearchReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestApprove</servlet-name>
        <url-pattern>/RequestApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestReject</servlet-name>
        <url-pattern>/RequestReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSlog</servlet-name>
        <url-pattern>/CSlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download1</servlet-name>
        <url-pattern>/Download1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
